<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img style="height: 30px; width: 30px; margin-bottom: 2px;" src="https://www.seekpng.com/png/detail/1-19750_instagram-white-logo-instagram-logo-png-white-outline.png">
      Instagram
    </a>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>