<% layout('layouts/boilerplate')%>
<h1>SignUp</h1>
<form action="/api/users/signUp" method="post">
  <input type="text" placeholder="Full Name" name="fullName" required />
  <input type="text" placeholder="username" name="username" required />
  <input type="email" name="email" placeholder="Enter your emailId" required />
  <input type="text" name="phoneNo" placeholder="Mobile number" required />
  <input
    type="password"
    placeholder="Create Password"
    name="userPass"
    required
  />
  <input
    type="password"
    placeholder="Confirm Password"
    name="conPassword"
    required
  />
  <button>SignUp</button>
</form>
